Makefile
testsuite
Makefile.in
aclocal.m4
autom4te.cache
/build-aux/
config.h.in
configure
atconfig 
pi
src/.deps/
src/.dirstamp
config.h.in
config.log
config.status
src/pi.o
stamp-h1
testsuite.log
.configure.ac.swp
/testsuite.dir/

